<h2>New celebrities</h2>

<form class=""action="/celebrities" method="post">
<input type="text" name="name" value="">
<input type="text" name="occupation" value="">
<input type="text" name="catchPhrase" value="">

<button type="submit" name="button">Submit</button>
</form>
